  <div class="container">
    <div class="row">
      <div class="col-5"><%= image_tag 'top.png', style: "width: 450px;" %></div>
      <div class="text-center col-7 mx-auto mt-5">
        <h1>what you want</h1><br><br><br><br><br>
        <h5>アイデアを共有してより良い暮らしを</h5>
      </div>
    </div>
  </div>
        
