<div class="container">
  <div class="row">
    <div class="mx-auto col-10">
      <h2><%= @member.name %>さんがいいねした投稿</h2>
    </div>
  </div>
  <div class="card-deck">
    <% @like_ideas.each do |idea| %>
      <div class="col-md-4">
        <%= render "public/ideas/index", idea: idea %>
      </div>
    <% end %>
  </div>
</div>